
<div class="header">
  <div class="img">
  </div>
  <div class="menuber">
  </div>
</div>

<div class="content">
  <div class="side">
    <div class="acount"></div>
    <h3>Tadaka</h3>
    <p>@nozomi_clone</p>
  </div>
  <div class="main">
    <h3>以下の内容で、送信する。</h3>
    <%= form_with(model: @clone, url: clones_path, local: true) do |form| %>
    <%= form.hidden_field :content %>
    <p>本文:<%= @clone.content %></p>
    <br >
    <%= form.submit  "登録する" %>
    <% end %>
    <br >
    <%= form_with(model: @clone, url: new_clone_path, local: true, method: 'get') do |form| %>
    <%= form.hidden_field :content %>
    <%= form.submit "もどる", name: 'back' %>
    <% end %>
  </div>
</div>
<div id="footer">
  <p class="footer">@NozomiTakada</p>
</div>